{% extends "base.html" %}
{% block css %}
<style>
    .plus {
        color: #6B8E23;
        font-weight: bold;
    }
    .minus {
        color: #B22222;
        font-weight: bold;
    }
    .dollar_sign {
        color: #DAA520;
     }
     table {
        margin: 50px 0 0 0;
     }
     .down {
        position: absolute;
        bottom: 10px;
        right: 20%;
        left: 20%;
     }
</style>
{% endblock %}
{% block title %}
    Dashboard
{% endblock %}
{% block main_content %}
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Shortcut</th>
            <th>Price</th>
            <th>24h %</th>
            <th>7d %</th>
            <th>Market Cap</th>
            <th>Volume(24h)</th>
            <th>Circulating Supply</th>
        </tr>
    </thead>
    <tbody>
        {% for crypto in cryptos %}
        <tr>
            <td>{{ crypto.id }}</td>
            <td>{{ crypto.name }}</td>
            <td>{{ crypto.shortcut }}</td>
            <td><span class="dollar_sign">$</span> {{ crypto.pretty_price }}</td>
                {% if crypto.percent24hours >= 0 %}
                    <td class="plus">+{{ crypto.percent24hours }}%</td>
                {% else %}
                    <td class="minus">{{ crypto.percent24hours }}%</td>
                {% endif %}

                {% if crypto.percent7days >= 0 %}
                    <td class="plus">+{{ crypto.percent7days }}%</td>
                {% else %}
                    <td class="minus">{{ crypto.percent7days }}%</td>
                {% endif %}
            <td><span class="dollar_sign">$</span> {{ crypto.pretty_market_cap }}</td>
            <td><span class="dollar_sign">$</span> {{ crypto.pretty_volume24h }}</td>
            <td><span class="dollar_sign">$</span> {{ crypto.pretty_circulating_supply }}</td>
        </tr>
        {% endfor %}
    </tbody>
 </table>
<footer class="mt-auto text-white-50 down">
    <p>This table was made by scraping <a href="https://coinmarketcap.com/" class="text-white">@coinmarketcap</a>. Whalealert24 is made only for personal purpose and don't make any profits.</p>
</footer>
{% endblock %}
