<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2 style="margin: 50px 0 0 120px">REGISTER PAGE</h2>
    <div class="container" style="width: 400px; margin: 20px 0 0 100px">
        <form method="post" class="form-register" style="display: flex; flex-direction: column; padding: 20px">
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Username") }}
        <br>
            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="email") }}
        <br>
            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="password1") }}
        <br>
            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="password2") }}
        <br>
            {{ form.submit.label() }}
            {{ form.submit(class="form-control", placeholder="submit") }}
        </form>
    </div>
</body>
</html>